<Section class="mt-10 w-5/6 md:w-3/5 xl:w-2/5 mx-auto bg-gray-500 p-8 rounded-tl-3xl rounded-br-3xl mb-7">
    <div class="container flex flex-col justify-center w-4/5 ">
      
    
<form class=""  [formGroup]="changePasswordForm" (ngSubmit)="submitForm()" >
    


    <div class="relative z-0 w-full mb-5 group">
        <input type="password" name="password" id="password"
        formControlName="password" 
        class="block py-2.5 px-0 w-full text-lg font-[600] line-clamp-6
         text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white
          dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-[#000033] peer"
           placeholder="" required />

        <label for="password" class="peer-focus:font-medium absolute text-lg text-white 
         dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] 
         peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-[#000033]
          peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0
           peer-focus:scale-75 peer-focus:-translate-y-6">Password :</label>
           @if(changePasswordForm.get('password')?.errors && changePasswordForm.get('password')?.touched){
            <div
            class="flex p-4 mt-2 mb-4 text-sm text-red-800 rounded-lg bg-red-100 dark:bg-gray-800 dark:text-red-400"
            role="alert"
          >
            <svg
              class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
              />
            </svg>
  
            <div>
              <span class="font-medium"
                >Ensure that these requirements are met:</span
              >
              <ul class="mt-1.5 list-disc list-inside">
                @if(changePasswordForm.get('password')?.getError('required')){
                <li>Password is Required</li>
                } 
                @if(changePasswordForm.get('password')?.getError('pattern')){
                <li>Password must start with uppercase char and at least 8 characters includes symbol and number </li>
                } 
              </ul>
            </div>
          </div>
           }

       
    </div>
 
    <div class="relative z-0 w-full mb-5 group ">
        <input type="password" name="newPassword" id="newPassword"
        formControlName="newPassword" 
        class="block py-2.5 px-0 w-full text-lg font-[600] line-clamp-6
         text-white bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white
          dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-[#000033] peer"
           placeholder="" required />

        <label for="newPassword" class="peer-focus:font-medium absolute text-lg text-white 
         dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] 
         peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-[#000033]
          peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0
           peer-focus:scale-75 peer-focus:-translate-y-6">New-Password :</label>
           @if(changePasswordForm.get('newPassword')?.errors && changePasswordForm.get('newPassword')?.touched){
            <div
            class="flex p-4 mt-2 mb-4 text-sm text-red-800 rounded-lg bg-red-100 dark:bg-gray-800 dark:text-red-400"
            role="alert"
          >
            <svg
              class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
              />
            </svg>
  
            <div>
              <span class="font-medium"
                >Ensure that these requirements are met:</span
              >
              <ul class="mt-1.5 list-disc list-inside">
                @if(changePasswordForm.get('newPassword')?.getError('required')){
                <li>New Password is Required</li>
                } 
                @if(changePasswordForm.get('newPassword')?.getError('pattern')){
                <li>Password must start with uppercase char and at least 8 characters includes symbol and number </li>
                } 
              </ul>
            </div>
          </div>
           }

         
    </div>


 

    
    <button type="submit" class="text-white bg-[#000033] hover:bg-[#272771] focus:ring-4 focus:outline-none
     focus:ring-white font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center
      dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Change-Password

        @if(isLoading){
            <i class="fas fa-spinner animate-spin text-white"></i>
        }
        
    </button>
  </form>
  
    </div>
</Section>
